@import './upload-img.scss';
@import './popup.scss';
.profil-container{
  margin-top: 20px;
  h1{
    text-align: center;
    font-weight: 600;
    font-size: 32px;
  }
  h3{
    font-size: 19px;
    font-weight: 600;
  }
}
.update_container{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  .left-part{
    padding: 20px 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: 45%;
    background-color: rgba($color: $saumon, $alpha: .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      width: 30%;
      max-width: 30%;
      border-radius: 25%;
    }
  }
  .right-part{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgba($color: $saumon, $alpha: .5);
    h3{
      text-align: center;
    }
    .update-bio-text{
      border-bottom-left-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      font-size: 17px;
      color: $dark-blue;
      font-weight: 500;
      padding: 0 10px;
      margin-bottom: 0;
      width: 80%;
      height: 15vh;
      border: 1px solid $dark-blue;
      background-color: rgba($color: $saumon, $alpha: 1);
      margin-left: 10%;
    }
    textarea:focus-visible{
      border: none;
    }
    button{
      float: right;
      margin-right: 10%;
      margin-top: 3px;
      cursor: pointer;
      color: white;
      font-size: 14px;
      font-weight: 600;
      border: none;
      padding: 10px 45px;
      border-radius: 18px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: rgba($color: $dark-blue, $alpha: 0.8);
      transition: background 0.4s;  
      box-shadow: 1px 1px 12px #f1f1f1;
       &:hover{
        background-color: $dark-blue;
        transition: background 0.4s;
      }
    }
  }
  h4{
    text-align: center;
    margin-top: 3%;
    font-weight: 600;
  }
  h5{
    width: 60%;
    padding: 15px;
    border-radius: 18px;
    font-weight: 600;
    border-top-right-radius: 0px;
    text-align: center;
    font-size: 16px;
    background-color: $dark-saumon;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
    &:hover{
      transform: translateY(2px);
      opacity: .9;
    }
  }
}
.divider-profil{
  content: "";
  width: 60%;
  height: 2px;
  border-radius: 25%;
  background-color: $light-blue;
  margin: 5px;
}