.left-nav-container{
  position: fixed;
  width: 5vw;
  padding-bottom: 30px;
}
.icons{
  width: 100%;
  .icons-bis{
    a{
      position: relative;
      margin: 10px;
      width: 100%;
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        position: relative;
        width: 60%;
      }
    }
  }
}
.active-left-nav::after{
    position: absolute;
    width: 5px;
    height: 100%;
    content: "";
    animation: navafter 0.7s;
    background-color: $dark-saumon;
    right: 0px;
    border-radius: 12%;
    top: 0;        
}
@keyframes navafter{
  from{
    height: 0%;
  }
}