.log-container{
  position: relative;
  padding: 5vh 5vw;
  background-color: $light-blue;
  height: 90vh;
  width: 100%;
}
.log-container-home{
  position: relative;
  padding: 5vh 5vw;
  background-color: $light-blue;
  border-radius: 16px;
  width: 73%;
  margin-left: 30px;
  margin-top: 8px;
  // margin: auto;
  h1{
    display: none;
  }
  input{
    margin-bottom: 5px;
  }
}
.buttons-log{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  .button-log{
    background-color: rgba($dark-blue,0.7);
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
  }
  .button-log.active{
    background-color: rgba($dark-blue,1);
  }
}

.sign-form{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  input{
    width: 70%;
    border: none;
    padding: 10px;
    border-radius: 6px;
    &:focus{
      outline: none;
    }
  }
  .btn-form{
    padding: 12px 30px;
    background-color: $saumon;
    cursor: pointer;
    font-size: 15px;
  }
}

.error{
  font-size: 16px;
  color: red;
  border-radius: 6px;
  font-weight: bold;
}
.sign-success{
  color: $dark-blue;
  text-align: center;
  font-size: 16px;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}

@media only screen and (max-width: 576px) {
  .log-container{
    width: 100vw;
  }
  .img-login{
    display: none;
  }
  .log-container-home{
    width: 80vw;
  }
}