@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');
*, ::after, ::before{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f1f1f1;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

$dark-blue: #194350;
$saumon: #ffc2b4;
$light-blue: #9dbeb9;
$dark-saumon: #ff8882;