@import './card.scss';
@import './comments.scss';
@import './new_post.scss';
.main{
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: row;
}

.thread-container, .home-header{
  width: 80%;
  margin-top: 30px;
}
