@import './card.scss';
@import './comments.scss';
@import './new_post.scss';
.main{
  display: flex;
  width: 90%;
  margin-left: auto;
  flex-direction: row;
  border-left: 2px solid rgba($color: $dark-saumon, $alpha: .6);
}

.thread-container, .home-header{
  width: 95%;
  margin: auto;
  margin-top: 30px;
  margin-right: 2%;
}
.right-side-container{
  width: 60%;
}
@media only screen and (max-width: 576px) {
  .main{
    overflow-x: hidden;
    width: 100%;
    .thread-container{
      width: 98%;
      margin: 30px 5px 15px;
    }
  }
  .left-nav-container{
    width: 14vw;
    z-index: 5;
  }
  .right-side-container{
    display: none;
  }
}