.post-container{
  position: relative;
  width: 90%;
  margin-left: 4%;
  border-radius: 16px;
  background-color: rgba($color: $saumon, $alpha: .4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  min-height: 250px;
  .data{
    position: absolute;
    top: 20px;
    right: 20px;
    p{
      margin-bottom: 0px;
      border-radius: 8px;
      span{
        font-weight: 700;
        color: $dark-blue;
        margin-right: 5px;
      }
    }
  }
  .user-home-info{
    width: 10%;
    margin: auto;
    margin-bottom: 10px;
    img{
      width: 100%;
      border-radius: 16px;
    }
  }
  .post-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    textarea{
      width: 90%;
      // margin: auto;
      border: none;
      padding: 7px;
      border-radius: 8px;
      border-bottom-right-radius: 0;
      &:focus-within{
        outline: none;
      }
    }
  }
  .footer-form{
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .icon{
    width: 8%;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    img{
      width: 90%;
      cursor: pointer;
    }
    input::-webkit-file-upload-button{
      border: none;
      position: absolute;
      left: 0;
      background-color: transparent;
      top: 0;
      cursor: pointer;
      width: 100%;
      height: 65%;
      color: transparent;
    }
    input{
      color: transparent;
      // visibility: hidden;
      user-select: none;
    }
  }
  .btn-send{
    display: flex;
    flex-direction: column;
  }
  .send{
    padding: 7px 20px;
    border: none;
    border-radius: 16px;
    // border-bottom-left-radius: 1px;
    border-top-right-radius: 1px;
    background-color: rgba($color: $dark-blue, $alpha: .8) ;
    margin-top: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    &:hover{
      transform: scale(1.15);
      background-color: rgba($color: $dark-blue, $alpha: 1);
      transition: background-color, transform 0.4s;
    }
  }
  .cancel{
    padding: 7px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    border-bottom-left-radius: 1px;
    color: white;
    background-color: rgba($color: $dark-saumon, $alpha: .6) ;
    font-weight: 500;
    &:hover{
      transform: scale(1.15);
      background-color: rgba($color: $dark-saumon, $alpha: 1);
      transition: background-color, transform 0.4s;
    }
  }
  iframe{
    width: 100%;
    border-radius: 6px;
  }
}

@media only screen and (max-width: 576px) {
  .icon{
    width: 15%;
    img{
      width: 35px;
    }
  }
}